div {
  width: 100px;
  height: 100px;
  background: red;
}

li:nth-child(1) {
  position: absolute;
  left: 0 px;
  top: 0px;
}

li:nth-child(2) {
  position: absolute;
  left: 100 px;
  top: 100px;
}

li:nth-child(3) {
  position: absolute;
  left: 200 px;
  top: 200px;
}

li:nth-child(4) {
  position: absolute;
  left: 300 px;
  top: 300px;
}

li:nth-child(1) {
  position: absolute;
  left: 0 px;
  top: 0px;
}

li:nth-child(2) {
  position: absolute;
  left: 100 px;
  top: 100px;
}

li:nth-child(3) {
  position: absolute;
  left: 200 px;
  top: 200px;
}

li:nth-child(4) {
  position: absolute;
  left: 300 px;
  top: 300px;
}

li:nth-child(5) {
  position: absolute;
  left: 400 px;
  top: 400px;
}

li:nth-child(1) {
  background: red;
}

li:nth-child(2) {
  background: green;
}

li:nth-child(3) {
  background: yellow;
}

.box {
  transition: all 1s;
  -webkit-transition: all 1s;
  -moz-transition: all 1s;
}

.box1 {
  transition: width 2s;
  -webkit-transition: width 2s;
  -moz-transition: width 2s;
}

.box2 {
  transition: height 3s;
  -webkit-transition: height 3s;
  -moz-transition: height 3s;
}
