div {
  width: 100px;
  height: 100px;
  p {
    width: 50px;
    height: 50px;
    span {
      color: red;
    }
  }
}

ul {
  > li {
    background-color: yellow;
    &:hover {
      background-color: red;
    }
    &.active {
      background-color: blue;
    }
  }
}
